// partials/hero-contact.jade
.hero-contact-container(class=content.section_color)
  .hero-contact-inner
    h3 We're here to help
    ul.ibm-link-list.ibm-northstar-links.ibm-live-assistance-list
      li.ibm-light
        //- a.ibm-chat-link.ibm-light.ibm-textcolor-white-core(href="javascript:;") Chat now
      li.ibm-light
        a.ibm-email-link.ibm-light.ibm-textcolor-white-core(href="https://www.ibm.com/services/forms/signup.do?source=ind-mail&S_PKG=101LE01W") Email IBM
      li.ibm-light
        a.ibm-requestquote-link.ibm-light.ibm-textcolor-white-core(href="http://www.ibm.com/common/ssi/cgi-bin/ssialias?subtype=SP&infotype=PM&appname=IGFE_GF_GF_USEN&htmlfid=GFS03082USEN&attachment=GFS03082USEN.PDF&cm_sp=MTE26919") Get financing
      li.ibm-light
        p.ibm-icon-nolink.ibm-phone-link(href="####") Or call us at: 
          br
          span.ibm-priority-code 1-866-426-4252