// partials/item-subnav.jade
if 'subnav' in item && item.subnav.length > 0
  .ocean-item-subnav-container
    .ibm-show-hide(data-widget='showhide', data-type='panel')
      h2 Quick links
      .ibm-container-body
        ul.ocean-subnav.ibm-hideable.ibm-plain-list(role='menubar')
          each subnav in item.subnav
            li(role='presentation')
              a.ibm-chevron-right-regular-link(href='#{subnav.href}', role='menuitem')!= subnav.label
