div.ocean-news-container
  h2.ocean-h2 <span class="ibm-h1 ibm-spinner"></span> Fetching latest news
    
    
  //- each newsItem in news
  //-   if (newsItem.type == "news")
  //-     div.ibm-card.ocean-fpo-news-item
  //-       div.ocean-fpo-news-item-image-container
  //-         img.ocean-fpo-news-item-image(src='/images/' + newsItem.image)
  //-         a.ocean-fpo-news-item-share-link
  //-           img(src='/images/news_share.jpg')
  //-       p.ocean-fpo-news-item-date= newsItem.date
  //-       p.ocean-h2= newsItem.title
  //-       div.ocean-fpo-news-item-category-container
  //-         each categoryItem, index in newsItem.categories
  //-           a.ocean-fpo-news-item-category-link.ocean-fg-red_40= categoryItem
  //-           if (index != newsItem.categories.length - 1)
  //-             span.ocean-fg-red_40= ", "
  //-   else if (newsItem.type == "quota")
  //-     div.ibm-card.ocean-fpo-news-item.ocean-fpo-news-item-quota-container(style="background-color:" + newsItem.bgColor)
  //-       p.ocean-fpo-news-item-quota.ocean-fg-white_1 &ldquo;#{newsItem.title}&rdquo;
  //-       p.ocean-fpo-news-item-quota-author.ocean-fg-white_1= newsItem.author
  //-       a.ocean-fpo-news-item-share-link
  //-         img(src='/images/news_share_transparent.png')
  //-       div.ocean-fpo-news-item-category-container
  //-         each categoryItem, index in newsItem.categories
  //-           a.ocean-fpo-news-item-category-link.ocean-fg-white_1= categoryItem
  //-           if (index != newsItem.categories.length - 1)
  //-             span.ocean-fg-white_1= ", "