//- https://www.youtube.com/watch?v= 
//- DEFINE videoId variable before calling this partial otherwise you get the default video id...
- if (!videoId) videoId = "rpsjxnoNc-U"
div(data-widget="videoplayer" data-videodisplay="inline" data-titledisplaytype="overlay" data-videoid=videoId data-videotype="youtube" href="https://www.youtube.com/watch?v=#{videoId}&index=1&list=WL")