// module/footer-menu
- var padding = "padding:7px"
.ibm-band.ibm-padding-top-r2.ibm-padding-bottom-r1(style="background-color: #2D3F49;")
  .ibm-columns.bluemix-footer-menu.ibm-textcolor-white-core

    .ibm-col-4-1(aria-label="Products")
      h5.ibm-h5.ibm-bold.ibm-textcolor-white-core.ibm-padding-bottom-1 Products
      p
        a.ibm-light(href="/cloud-computing/bluemix/compute/") Compute
      p
        a.ibm-light(href="/cloud-computing/bluemix/network/") Network
      p
        a.ibm-light(href="/cloud-computing/bluemix/storage/") Storage
      p
        a.ibm-light(href="/cloud-computing/bluemix/data-analytics/") Data and analytics
      p
        a.ibm-light(href="/cloud-computing/bluemix/watson/") Watson
      p
        a.ibm-light(href="/cloud-computing/bluemix/integration/") Integration
      p
        a.ibm-light(href="/cloud-computing/bluemix/devops/") DevOps
      p
        a.ibm-light(href="/cloud-computing/bluemix/security/") Security
      p
        a.ibm-light(href="/cloud-computing/bluemix/application-services/") Application services
      p
        a.ibm-light(href="/cloud-computing/bluemix/mobile/") Mobile
      p
        a.ibm-light(href="/cloud-computing/bluemix/internet-of-things/") Internet of Things


    .ibm-col-4-1(aria-label="Solution")
      h5.ibm-h5.ibm-bold.ibm-textcolor-white-core Solutions
      p
        a.ibm-light(href="/cloud-computing/bluemix/engagement-gaming/") Engagement gaming
      p
        a.ibm-light(href="/cloud-computing/bluemix/entertainment-gaming/") Entertainment gaming
      p
        a.ibm-light(href="/cloud-computing/bluemix/open-projects/") Open code projects

      h5.ibm-h5.ibm-bold.ibm-textcolor-white-core.ibm-padding-top-r1 Services
      p
        a.ibm-light(href="/cloud-computing/bluemix/services/") Overview
      p
        a.ibm-light(href="/cloud-computing/bluemix/garage/") Garage

    .ibm-col-4-1(aria-label="Resources & Account Support")
      h5.ibm-h5.ibm-bold.ibm-textcolor-white-core How it works
      p
        a.ibm-light(href="/cloud-computing/bluemix/hybrid/") Hybrid
      p
        a.ibm-light(href="/cloud-computing/bluemix/local/") Local
      p
        a.ibm-light(href="/cloud-computing/bluemix/dedicated/") Dedicated
      p
        a.ibm-light(href="/cloud-computing/bluemix/existing-it/") Existing IT

      h5.ibm-h5.ibm-bold.ibm-textcolor-white-core.ibm-padding-top-r1 Resources
      p
        a.ibm-light(href="/cloud-computing/bluemix/getting-started/") Getting started
      p
        a.ibm-light(href="/cloud-computing/bluemix/library/") How to
      p
        a.ibm-light(href="/cloud-computing/bluemix/library/") Sample code
      p
        a.ibm-light(href="/cloud-computing/bluemix/library/") Community
      p
        a.ibm-light(href="/cloud-computing/bluemix/library/") Webinars
      p
        a.ibm-light(href="https://developer.ibm.com/bluemix/blog/" target="_blank") Blog
      p
        a.ibm-light(href="/cloud-computing/bluemix/library/") Library
      p
        a.ibm-light(href="/cloud-computing/bluemix/eclipse/") Eclipse
      p
        a.ibm-light(href="/cloud-computing/bluemix/swift/") Swift


    .ibm-col-4-1(aria-label="Account support")
      h5.ibm-h5.ibm-bold.ibm-textcolor-white-core Account support
      p
        a.ibm-light(href="https://console.ng.bluemix.net/?direct=classic/#/contactUs/cloudOEPaneId=contactUs") Contact Bluemix

        h5.ibm-h5.ibm-bold.ibm-textcolor-white-core.ibm-padding-top-r1 Trust center
        p
          a.ibm-light(href="/cloud-computing/bluemix/trust/") Trust
        h5.ibm-h5.ibm-bold.ibm-textcolor-white-core.ibm-padding-top-r1 About us
        p
          a.ibm-light(href="/cloud-computing/bluemix/what-is-bluemix/") What is Bluemix
        p
          a.ibm-light(href="https://console.ng.bluemix.net/docs/") Docs
        p
          a.ibm-light(href="/cloud-computing/bluemix/case-study/") Case studies
        p
          a.ibm-light(href="https://console.ng.bluemix.net/pricing/") Pricing

footer(role='contentinfo', aria-label='IBM')
  #ibm-footer
    .ibm-columns
      .ibm-col-1-1
        .ibm-footer-corporate-links
          ul
            li
              a(href='http://www.ibm.com/contact/us/en/?lnk=flg-cont-usen?lnk=flg') Contact IBM
            li
              a(href='http://www.ibm.com/privacy/us/en/?lnk=flg-priv-usen?lnk=flg') Privacy
            li
              a(href='http://www.ibm.com/legal/us/en/?lnk=flg-tous-usen?lnk=flg') Terms of use
            li
              a(href='http://www.ibm.com/accessibility/us/en/?lnk=flg-acce-usen?lnk=flg') Accessibility
          //-  li
          //-    a(href='#', onclick='truste.eu.clickListener();return false;') Cookie preferences
        .ibm-footer-social-links
          div
            p Follow Bluemix
          div
            p.ibm-ind-link
              a.ibm-twitter-encircled-link(href='http://www.twitter.com/ibmbluemix', target='_blank') Twitter
              a.ibm-facebook-encircled-link(href='http://www.facebook.com/ibmbluemix', target='_blank') Facebook
              a.ibm-youtube-encircled-link(href='http://www.youtube.com/playlist?list=PLzpeuWUENMK2d3L5qCITo2GQEt-7r0oqm', target='_blank') Youtube
              a.ibm-hatena-blog-encircled-link(href='https://developer.ibm.com/bluemix/blog/', target='_blank') Blog
              a.ibm-meetup-link(href='http://bluemix.meetup.com/', target='_blank') Meetup
